<h1>Add a Video</h1>
<div class="col-md-6">
    <form>
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" ng-model="video.title">
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" ng-model="video.description"></textarea>
        </div>
        <button type="button" class="btn btn-primary" ng-click="save()"> Save</button>
        <a class="btn btn-default" href="/#/">Cancel</a>
    </form>
</div>